In [9]:
import pandas as pd
dataSet= pd.read_csv("biodegradable_a.csv", sep=",")
dataSet

,SpMax_L,J_Dz(e),nHM,F01,F04,NssssC,nCb,C,nCp,nO,...,C_026,F02_CN,nHDon,SpMax_B,Psi_i_A,nN,SM6_B,nArCOOR,nX,Biodegradable
0,3.919000,2.690900,0.0,0.0,0.0,0.0,0.0,31.400000,2.0,0.0,...,0.0,0.0,0.0,2.949000,1.591000,0.0,7.253000,0.0,0.0,RB
1,4.170000,2.114400,0.0,0.0,0.0,0.0,0.0,30.800000,1.0,1.0,...,0.0,0.0,0.0,3.315000,1.967000,0.0,7.257000,0.0,0.0,RB
2,3.932000,3.251200,0.0,0.0,0.0,0.0,0.0,26.700000,2.0,4.0,...,0.0,0.0,1.0,NaN,2.417000,0.0,7.601000,0.0,0.0,RB
3,3.000000,2.709800,0.0,0.0,0.0,0.0,0.0,20.000000,NaN,2.0,...,0.0,0.0,1.0,NaN,5.000000,0.0,6.690000,0.0,0.0,RB
4,4.236000,3.394400,0.0,0.0,0.0,0.0,0.0,29.400000,2.0,4.0,...,0.0,0.0,0.0,3.351000,2.405000,0.0,8.003000,0.0,NaN,RB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4559,4.175650,3.454649,0.0,0.0,0.0,0.0,0.0,27.300000,2.0,2.0,...,0.0,0.0,0.0,3.398382,3.241090,0.0,7.406748,0.0,0.0,RB
4560,3.853731,2.747142,0.0,NaN,0.0,0.0,0.0,33.300000,0.0,0.0,...,0.0,0.0,1.0,3.429148,2.719309,0.0,7.511511,0.0,0.0,RB
4561,4.294771,3.471226,0.0,0.0,0.0,0.0,0.0,28.422154,2.0,2.0,...,0.0,0.0,0.0,3.351666,2.729456,0.0,7.699324,0.0,0.0,RB
4562,4.560376,3.896390,0.0,0.0,0.0,0.0,0.0,NaN,2.0,3.0,...,0.0,0.0,0.0,NaN,3.059198,0.0,7.908802,0.0,0.0,RB
4563,4.045097,2.847185,0.0,0.0,0.0,0.0,0.0,23.386643,1.0,1.0,...,0.0,2.0,2.0,3.032224,2.613357,1.0,6.863314,0.0,0.0,RB

In [16]:
import numpy as np
def entropy(y):
    values, counts = np.unique(y,return_counts=True)
    probs=counts/len(y)
    #print(probs)
    return -np.sum(probs*np.log2(probs))

def select_var(X, y):
    N,M = X.shape
    min_ent=1e34
    best_var=-1
    for v in range(M):
        ent=0
        for val in np.unique(X[:,v]):
            srows = X[:,v] == val
            ent+=np.sum(srows)/N*entropy(y[srows])
        if ent<min_ent:
            min_ent=ent
            best_var=v
    return best_var


def decision_tree(X, y, col_names, the_path=[]):
    sv=select_var(X, y)
    N,M=X.shape
    if M==1:
        if len(np.unique(y))==1:
            #pure node
            the_path.append(str(y[0]))
        else:
            #this situation is when the node is not pure!
            #here we will return the most common value
            values, counts = np.unique(y,return_counts=True)
            the_path.append(str(values[counts.argmax()]))
    else:
        X0=np.delete(X, sv, 1)
        cnames=np.delete(col_names,sv)
        for val in np.unique(X[:,sv]):
            srows = X[:,sv]==val
            X_new=X0[srows, :]
            y_new=y[srows]
            the_path.append([(col_names[sv], val)])
            if len(np.unique(y_new))>1:
                decision_tree(X_new, y_new, cnames, the_path[-1] )
            else:
                #pure node - recursive process ends here
                the_path[-1].append(str(y_new[0]))
    return the_path

def show_tree(tree, level=0):
    for branch in tree:
        if type(branch[1])==str and not isinstance(branch, tuple):
            print("\t"*(level), "%s = %s --> %s" % (branch[0][0], branch[0][1], branch[1]))
        elif type(branch[1])==list:
            print("\t"*level,  "%s = %s" % (branch[0][0], branch[0][1]))
            show_tree(branch, level+1)

### Escalar os dados:

##### Standart Scaler

In [ ]:
import pandas as pd
from sklearn import StandardScaler

# Carregue os dados do arquivo CSV
dados = pd.read_csv('seu_arquivo.csv')

# Inicialize o scaler
scaler = StandardScaler()

# Ajuste e transforme os dados
dados_escalados = scaler.fit_transform(dados)

# Crie um novo DataFrame com os dados escalados
dados_escalados = pd.DataFrame(dados_escalados, columns=dados.columns)

# Salve os dados escalados em um novo arquivo CSV
dados_escalados.to_csv('dados_escalados.csv', index=False)